body {
    background-color: #4b1b75;
    color: white;
    font-family: monospace;
}

table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 5px;
}

.header{
    display: flex;
    background-color: #ffffff;
    color: black;
    height: 25%;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.grade-container {
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
    color: black;
    background-color: #e1ca49;
}

.grades-table {
    width: 100%;
    justify-content: center;
}